/* root vars */
:root {
    --primary-1: rgb(85,108,62);
    --primary-2: rgb(125,151,100);
    --primary-3: rgb(157,181,134);
    --primary-4: rgb(213,226,200);
    --primary-5: rgb(243, 250, 236);
    --primary-6: rgb(243, 250, 236, .75);
    --primary-7: rgb(220, 236, 215);
    --grey-1: rgb(50, 50, 50);
    --grey-2: rgb(100, 100, 100);
    --grey-3: rgb(167, 167, 167);
    --gray-4: rgb(184, 184, 184);
    --gray-5: rgb(210,210,210);
    --white: rgb(255,255,255);
    --spacing: .1rem;
    --spacing-2: .05rem;
    --ff-primary-1: monospace ;
    --ff-primary-2: Courier New ;
    --ff-primary-3: Courier ;
    --font-size-small: 10pt;
    --font-size-normal: 13pt;
    --font-size-big: 15pt;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

/* darkmode css */
/* * .darkmode:root {} */
 
/* global values */
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html {
     width: 100vw;
     height: 100vh;
 }

 body {
     background-color: var(--grey-5);
    overflow: scroll;
    width: 100vw;
    height: 100vh;
 }

 header {
    /* background-color: rgb(236, 189, 189, .50); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 1rem 0rem;
 }

 main {
     background-color: rgba(226, 255, 254, 0.5);
     min-height: 90vh;
 }

 footer {
     /* background-color: rgb(161, 185, 128, .50); */
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     height: auto;
     margin: 1rem 0rem;
 }

 /* class atributes */
 .preloader {
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     height: 100vh;
     width: 100vw;
     padding: 10%;
 }

 .preloader img {
     display: block;
     top: 0;
     left: 0;
     object-fit: cover;
     width: 100%;
     height: auto;
     max-height: 60vh;
     border-radius: 2rem;
 }

 .title {
    font-family: var(--ff-primary-1);
    font-size: var(--font-size-big);
    letter-spacing: var(--spacing);
 }

 .input-container {
     background-color: rgba(192, 192, 192, 0.459);
     min-height: 10vh;
     width: auto;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .input-box {
     height: 2rem;
     width: auto;
     box-shadow: .05rem .05rem .5rem var(--grey-3);
 }

  .input-text {
     min-width: 14rem;
     font-size: var(--font-size-small);
     font-family: var(--ff-primary-2);
     background-color: var(--primary-5);
     border-color: var(--primary-1);
     border-radius: .5rem 0rem 0rem .5rem;
     border-width: .13rem;
     border-style: solid;
     padding-left: .3rem;
 }

 .input-text:hover {
     background-color: var(--primary-7);
     border-color: var(--primary-3);
 }

 .input-text:focus {
     background-color: var(--primary-6);
     border-color: var(--primary-1);
     outline-color: var(--primary-2);
     outline-width: .13rem;
     outline: var(--radius);
 }

 .input-btn {
     /* position */
    min-width: 5rem;
    /* style */
    font-family: var(--ff-primary-3);
    font-size: var(--font-size-small);
    background-color: var(--primary-5);
    border-color: var(--primary-1);
    border-radius: 0rem .5rem .5rem 0rem;
    border-width: .13rem;
    border-style: solid;
    letter-spacing: var(--spacing);
 }

 .input-btn:hover {
     cursor: pointer;
     background-color: var(--primary-7);
     border-color: var(--primary-3);
     border-width: .13rem;
 }

 .footer-txt {
    font-family: var(--ff-primary-2);
    font-size: var(--font-size-small);
 }

 .list-container {
    background-color: rgba(192, 168, 168, 0.459);
    min-height: 10vh;
    max-height: 70vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    padding-top: 2rem;
 }

 .list-item {
     padding-bottom: 2rem;
     display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
 }

 .list-item p {
     font-size: var(--font-size-normal);
 }

 .list-item .btn {
     padding: .05rem;
     width: 2rem;
     height: 2rem;
     letter-spacing: var(--spacing-2);
     border-radius: .4rem;
 }

 .list-item .delete-btn {
     margin-left: .5rem;
 }

 .list-item .done-btn {
     margin-left: .5rem;
 }