/* root vars */
:root {
    --primary-1: rgb(85,108,62);
    --primary-2: rgb(125,151,100);
    --primary-3: rgb(157,181,134);
    --primary-4: rgb(213,226,200);
    --grey-1: rgb(50, 50, 50);
    --grey-2: rgb(100, 100, 100);
    --grey-3: rgb(175, 175, 175);
    --gray-4: rgb(210,210,210);
    --white: rgb(255,255,255);
    --spacing: .1rem;
    --ff-primary: monoaspace;
    --radius: 0.5rem;
    --transition: all 0.3s linear;
}

/* darkmode css */
/* * .darkmode:root {} */
 
/* global values */
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 html {
     width: 100vw;
     height: 100vh;
 }

 body {
    overflow: hidden;
 }

 header {

 }

 /* classes */
 .preloader {
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     height: 100vh;
     width: 100vw;
     padding: 10%;
 }

 .preloader img {
     display: block;
     top: 0;
     left: 0;
     object-fit: cover;
     width: 100%;
     height: auto;
     max-height: 60vh;
     border-radius: 2rem;
 }

 .title {

 }